@import "tailwindcss";

/* Use Raleway for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-raleway), sans-serif;
  font-weight: 600;
}

/* Use Roboto for everything else */
body {
  font-family: var(--font-roboto), sans-serif;
}

/* Custom Scroll */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}
.custom-scroll::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: slategray;
  border-radius: 5px;
}

ul.li{
  list-style: disc;
}
